

{% block content %}
<div style="display: flex;">
    <h1>{{ post.title }}</h1>
    <p style="margin-left:500 ;"><a href="{% url 'blog:post-change' post.id %}">
        <button>modifier le contenu du salon</button>
    </a> </p>
    <p style="margin-left: 20px;"><a href="{% url 'blog:post-delete' post.id %}">
        <button>supprimer le salon  </button>
    </a> </p>
</div>
<div style="display: inline;">


<p>{{ post.content }}</p>

{% if post.is_published %}
    <p>ce salon a été publié en date du: <em>{{ post.pub_date }}</em></p>
{% else %}
    <form action="{% url 'blog:post-publish' post.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Publish">
    </form>
{% endif %}

    <div>
        <p><a href="/marchandise/">consulter le stock des produits</a></p>
        
            
    </div>
</div>

<footer>
    <h1><a href="{% url 'marchandise:post-add' %}"> <button>Ajouter un nouveau produit</button></a></h1>
</footer>
{% endblock %}