

{% block 'content' %}
    <style>
        #btn{ display: inline-block;
        padding: 10px 20px;
        background-color: #460303;
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        border-radius: 5px;
        text-align: center;
      }
    </style>
    <title>Évaluer le salon</title>
</head>
<body>
    <h1> Formulaire d'evaluation </h1>
    <div style="width: 30%;"><p>Evalualuez la qualité du salon en servant des etoiles. Cochez de 1 à 5 étoiles selon votre experience <br> Ajouter un commentaire si vous en avez pour permettre aux autres utilisateur d'avoir un appercu du salon</p></div>

    {% if user.is_authenticated %}
    <form action="{% url 'blog:add-evaluation' post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="btn">Soumettre</button>
    </form>
    {% else %}
    <p>Vous devez être connecté pour évaluer {{ post.nom }}. <a href="{% url 'login' %}">Se connecter</a></p>
    {% endif %}

    <a href="{% url 'blog:home_evaluation' post.id %}"><button id="btn" style="background-color: rgb(18, 63, 18);">  evaluations existantes</button></a>  
</body>
</html>
{% endblock %}