
{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}
  <header >                                                                                         
    <h1>Urembo_for_us</h1>
  </header>
  <div style="display: flex;">
    <h1>salons disponibles</h1>
  
    <a href="{% url 'blog:post-add' %}" style="padding-left:700px; "><button style="height: 50px ; margin-top: 20px;">Ajouter un  Salon</button> </a>
       
  </div>
  
        
      {% for post in blog_posts %}
    <div>
           <h1> <a href="{{ post.get_absolute_url }}">
        
            {{ post.title }}         </a> 
          </h1>
          <p> ce salon est disponible dans la ville depuis la date du (<em>{{ post.pub_date }}</em>)</p>
      
    </div>
            
              
        {% endfor %}
      
    
        
      
  
    
  
  <footer > 
      
    <h2> <a href="/account/">Créer un Beautycompte</a> </h2>
    <h2> <a href="/apropos/">Savoir Plus</a> </h2>
    <h2><a href="/"> page d'accueil</a></h2>
  </footer>


{% endblock %}