

{% load static %}
{% block 'content' %}

<style>
  #btn{ display: inline-block;
        padding: 10px 20px;
        background-color: #460303;
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        border-radius: 5px;
        text-align: center;
      }
  #iner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }
  img{
    width: 400px;
    height:400px;
  }
  form{
    margin-top: 100px;
    margin-left: 0px;
  }
</style>
  
<header style="text-align: center; background-color: rgb(4, 46, 8); color:white; padding: 7px 0;">
    <h1 >Tous les salons</h1>
</header>

<div style="display: flex; float: left; ">
{% if perms.blog.add_salon %}
<p>
<a href="{% url 'blog:post-add' %}" style="margin-right:700px;"> <button id="btn">Ajouter un nouveau salon</button></a>
</p>


<h2> <a href="/apropos/" id="div_end" style="margin-right: 100px;"> Savoir Plus</a> </h2>
<h2><a href="/" id="div_end" style="padding-right: 5px; text-align: end;"> page d'accueil</a></h2>  
{% endif %}
</div>


  <p>
Il y a {{ nombre_salons }} salons disponibles.</p>


<form method="GET" action="{% url 'blog:search_salon' %}" method="post" enctype="multipart/form-data" >
  <input type="text" name="search" placeholder="Rechercher par nom de salon">
  <input type="submit" value="Rechercher">
</form>


<h1 style="text-align: center;">Salons disponibles</h1> 



     
  <div class="container" >
    <div class="left" id="iner" >
        {% for post in saloons %}
        <div style="margin: 20px;">
           
                <a href="{{ post.get_absolute_url }}"> <h1 class="div_titre" >{{ post.nom_salon }}</h1>
                  {% if post.image %}
                  <img style="width:400px" src="{{ post.image.url }}">
                  {% endif %}
                </a>
            
            
            
            <p>ce salon est disponible dans la ville depuis la date du (<em>{{ post.pub_date }}</em>)</p>
            
        </div>
        {% endfor %}
    </div>

    <h1 style="text-align: center;">Vous pourriez aimer ces models</h1>
    <div class="right" id="iner">
        <img src="{% static 'pages/img/new1.jpg' %}">
        <img src="{% static 'pages/img/new2.jpg' %}">
        <img src="{% static 'pages/img/new3.jpg' %}">
        <img src="{% static 'pages/img/new4.jpg' %}">
        <img src="{% static 'pages/img/new5.jpg' %}">
    </div>
</div>
        
  
  <footer style="text-align: center;"> 
    
  </footer>


{% endblock %}