

{% block content %}
<style>
    #btn { background-color: #4194f3; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px;
    margin-left: 50px;
    text-transform: uppercase; }
    #btn:hover {
        background-color: rgb(2, 44, 9);
      }
</style>
<header style="text-align: center; background-color: rgb(4, 46, 8); color: white;  padding: 7px 0;">
    <h1>{{ post.nom_salon}}</h1>
</header>

<div style="display: flex; float: left; margin-top: 50px; padding-left: 50px;">


<div style="display: inline; width: 60%; ">
    
    {% if post.image %}
    <img style="width:600px" src="{{ post.image.url }}">
    {% endif %}
    


   
</div>
<div style="display: inline;">
    <h1>{{ post.title }}</h1>
    {% if perms.blog.change_salon %}
<a href="{% url 'blog:post-change' post.id %}" ><button id="btn" >changer les informations liees au salon</button></a>
{% endif %}
{% if perms.blog.delete_salon %}
<a href="{% url 'blog:post-delete' post.id %}"><button id="btn" style="margin-top: 30px; background-color:#460303 ;">supprimer le salon de la plate forme</button></a>
{% endif %}
<p><a href="{% url 'blog:home_prod' %}"><button id="btn" style="margin-top: 30px;">voir les produits disponibles</button></a></p>


<div style="background-color: #9c7f7f; width: 70%; color:rgb(4, 46, 8); margin-top: 80px; margin-left: 40px;">

<h2>Description</h2>
<p>{{ post.description }}</p>
{% if post.is_published %}
    <p>ce salon a été publié en date du: <em>{{ post.pub_date }}</em></p>
    {% elif perms.blog.publish_blogpost %}
    <form action="{% url 'blog:post-publish' post.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Publish">
    </form>
    
    
{% endif %}

<p>Proprietaire: {{ post.boss }} </p>
<p>contactez nous au {{ post.contact }}</p>
</div>
</div>
</div>

   

    
{% endblock %}