{% extends 'base_template.html' %}

{% block 'title' %}Edit Profile{% endblock %}

{% block 'content' %}
<main>
    <div id="gallery" style="margin-top: 200px;">
	<h1 id="div_titre">Edit Profile {{ user.username }}</h1>

	<form action="{% url 'accounts:change-profile' %}" method="POST" id="div_content">
		{% csrf_token %}
		{{ form.as_p }}

		<p >
			<input type="submit" value="Submit" id="btn">
		</p>
		<p>
			<a href="{% url 'accounts:profile' %}">
				<input type="button" value="Cancel" id="btn">
			</a>
		</p>
	</form>
</div>
</main>
{% endblock %}

