{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}
    
       
 <style>
    strong{
        color: rgb(68, 20, 20);
    } 
    
 </style>
    
    
    
 <div id="gallery">
   <h1 id="div_titre">More About Us</h1>
    
    <p > 
        <p >Urembo For Us est une application web innovante qui vise à faciliter la recherche de salons de coiffure dans la ville de Beni. Grâce à cette plateforme, les utilisateurs pourront trouver facilement des salons de coiffure à proximité, consulter les services proposés, les tarifs, et même réserver leur rendez-vous en ligne. De plus, Urembo For Us met en avant les différents produits disponibles dans les salons de coiffure, permettant ainsi aux utilisateurs de découvrir de nouveaux produits et de les acheter en ligne. <br>

          <h2>  Fonctionnalités de l'application </h2>
            
           <strong> Recherche de salons de coiffure :</strong> Les utilisateurs pourront rechercher des salons de coiffure dans la ville de Beni en fonction de leur emplacement, des services proposés, des tarifs, etc. <br>
            
            <strong>Consultation des services :</strong> Les utilisateurs pourront consulter les différents services proposés par les salons de coiffure, tels que coupe, coloration, brushing, etc. <br>
            
           <strong> Réservation en ligne :</strong> Les utilisateurs pourront réserver leur rendez-vous en ligne, en choisissant la date et l'heure qui leur conviennent. <br>
            
           <strong> Découverte de produits :</strong> Les utilisateurs pourront découvrir les différents produits disponibles dans les salons de coiffure, tels que shampoings, soins capillaires, etc. <br>
            
           <strong> Achat en ligne :</strong> Les utilisateurs pourront acheter les produits directement depuis l'application, en profitant de promotions exclusives. <br>
            
           
           <strong> Avantages pour les utilisateurs :</strong> <br>
            
           <strong> Gain de temps </strong> Les utilisateurs pourront trouver facilement un salon de coiffure à proximité et réserver leur rendez-vous en ligne, sans avoir à passer des heures à chercher sur Internet. <br>
            
           <strong> Meilleure expérience client </strong> Les utilisateurs pourront consulter les services proposés, les tarifs, et les avis des autres clients, ce qui leur permettra de choisir le salon de coiffure qui correspond le mieux à leurs besoins. <br>
            
            Découverte de nouveaux produits : Les utilisateurs pourront découvrir de nouveaux produits capillaires et les acheter en ligne, ce qui leur permettra de prendre soin de leurs cheveux à la maison. <br>
            
           
           
            <strong> Conclusion </strong><br>
            
            Urembo For Us est une application web qui révolutionne la façon dont les utilisateurs trouvent des salons de coiffure dans la ville de Beni. Grâce à ses fonctionnalités innovantes, les utilisateurs pourront trouver facilement un salon de coiffure, réserver leur rendez-vous en ligne, et découvrir de nouveaux produits capillaires. Urembo For Us est l'outil idéal pour tous ceux qui souhaitent prendre soin de leurs cheveux et vivre une expérience coiffure unique.</p>
        
            <p><h2>Bref</h2>
            Urembo_for_us ets une application web au service des habitants de la ville de BENI application centrée sur les salons de coiffure à BENI, permettant aux visiteurs et habitants de trouver facilement un salon adapté à leurs besoins de coiffure, et aussi à leur situation géographique par rapport au salon, tout en procurant l’itinéraire le plus court du lieu de départ au salon choisit.</p>
        <h2 style="text-align: center;">shine like an agel</h2>
    </p>
    <h2><a href="/" id="btn"> page d'accueil</a></h2>
 </div>
    

    
    
{% endblock %}