{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}
    <header>
       <h1>More About Us</h1> 
    </header>
    
    
 <div>
    
    <p> 
        <p>Urembo_for_us ets une application web au service des habitants de la ville de BENI application centrée sur les salons de coiffure à BENI, permettant aux visiteurs et habitants de trouver facilement un salon adapté à leurs besoins de coiffure, et aussi à leur situation géographique par rapport au salon, tout en procurant l’itinéraire le plus court du lieu de départ au salon choisit.</p>
        <h2 style="text-align: center;">shine like an agel</h2>
    </p>
 </div>
    
    <footer > <h2><a href="/"> page d'accueil</a></h2></footer>

    
    
{% endblock %}