{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}
    
       
 
    
    
    
 <div id="gallery">
   <h1 id="div_titre">More About Us</h1>
    
    <p id="div_content"> 
        <p>Urembo_for_us ets une application web au service des habitants de la ville de BENI application centrée sur les salons de coiffure à BENI, permettant aux visiteurs et habitants de trouver facilement un salon adapté à leurs besoins de coiffure, et aussi à leur situation géographique par rapport au salon, tout en procurant l’itinéraire le plus court du lieu de départ au salon choisit.</p>
        <h2 style="text-align: center;">shine like an agel</h2>
    </p>
    <h2><a href="/" id="div_end"> page d'accueil</a></h2>
 </div>
    
    <footer > </footer>

    
    
{% endblock %}