{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}

  <header >                                                                                         
    <h1>Urembo_for_us</h1>
  </header>
  <p><h3 style="color: rgb(46, 46, 119);">Bienvenue dans Urembo_for_us la solution à tes preoccupatios de beauté</h3><br> clic sur voir les salons diponibes pour voir tous les salons proposés pour toi <br> clic sur creer un Beautycompte pour creer un compte et beneficier de tous nos services
  <br> clic sur savoir plus pour savoir plus de la plate forme Urembo_for_us</p>
  
    <div class="gallery">
       
        <img src="{% static 'pages/img/image1.jpg' %}">
        <img src="{% static 'pages/img/image2.jpg' %}">
        <img src="{% static 'pages/img/image3.jpg' %}">
        <h2> <a href="/blog/">voir tous les salons disponibles</a> </h2>
        
    </div>
    
  
  <footer > 
      
    <h2> <a href="/account/">Créer un Beautycompte</a> </h2>
    <h2> <a href="/apropos/">Savoir Plus</a> </h2>
  </footer>
{% endblock %}
